<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <form action=" ">
                <h2>Sign Up</h2>
                <input type="text" name="name" id="name" placeholder="Your name" required>
                <input type="date" name="DOB" id="DOB">
                <input type="text" name="email" id="email" placeholder="Email" required>
                <input type="text" name="pass" id="pass" placeholder="Password" required>
                <input type="text" name="confirmpass" id="confirmpass" placeholder="Confirm Password" required>
                <button type="submit" name="submit" id="submit">
                    Register
                </button>
                <p>Have account? <a href="{{url_for('login')}}">Login</a></p>
            </form>
        </div>
    </div>
    
</body>
</html>